html, body{
  background-color: black;
}

h1{
  font-family: sans-serif;
  font-size: 20px;

}
p{
  font-family: sans-serif;
  font-size: 13px;
}
.header{
  width: 100%;
  height: 100px;
  background-color: black;
  position: relative;
  background-image: url("../images/nav.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.content1{
  width: 100%;
  height: 600px;
  display: block;
  margin-bottom: -5px;
  position: relative;
  background-color: #202020;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.content2{
  width: 100%;
  height: 600px;
  display: block;
  margin-bottom: -5px;
  position: relative;
  background-image: url("../images/2.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.content3{
  width: 100%;
  height: 600px;
  display: block;
  margin-bottom: -5px;
  position: relative;
  background-image: url("../images/3.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.cta{
  width: 100%;
  background-color: #DA291C;
  text-align: center;
  padding: 58px 0px 50px 0px;
}
.content4{
  width: 100%;
  background-color: white;
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  text-align: center;
}
.content5{
  width: 100%;
  background-color: #F0F0F0;
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  text-align: center;
}
.content6{
  width: 100%;
  height: 436px;
  display: block;
  margin-bottom: -10px;
  position: relative;
  background-image: url("../images/6.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.text1{
  position: absolute;
  right: 0;
  bottom: 0;
}
.text2{
  position: absolute;
  left: 0;
  bottom: 0;
}
.text3{
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
/*  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;*/
  width: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.mobile{
  width: 100%;
  background-color: black;
  display: block;
  position: relative;
  text-align: center;
}


@media screen and (min-width: 1050px) {
  .desktop{
    display: inline-block;
  }
  .mobile{
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: inline-block;
  }
}